<div class="row">
  <div class="columns small-12">
    <%= simple_form_for @employee do |f| %>
      <% salary = (@employee.salary / 100.00) %>
      <%= f.input :salary, input_html: { value: "#{sprintf('%.2f', salary)}" } %>
      <%= f.input :status, collection: ["Employee", "Manager"] %>
      <%= f.button :submit, "Update" %>
    <% end %>
  </div>
</div>
