<div class="row">
  <div class="columns small-12">
    <h4>New Item</h4>
    <%= simple_form_for @item do |f| %>
      <%= f.input :name %>
      <%= f.input :price %>
      <%= f.button :submit, "Create Item", class: "expand" %>
    <% end %>
  </div>
</div>
