<div class="row">
  <div class="columns small-12">
    <%= simple_form_for @item do |f| %>
      <%= f.input :name %>
      <%= f.input :price %>
      <%= f.button :submit, "Create Item" %>
    <% end %>
  </div>
</div>
