/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 .button {
   width: 75px;
   height: 50px;
   padding: 5px;
   margin: 5px;
   color: white;
   display: inline;
   font-size: 12px;
   float: left;
}

 .green {
   background-color: #18A33B
 }

 .green:hover {
   background-color: green;
 }

 .magenta {
   background-color: magenta;
   height: 90px;
   width: 80px;
 }

 .magenta:hover {
   background-color: #A318A3;
 }

 #hidden_total {
   color: white;
 }

body {
  background-color: #96CAEB;
}

.price {
  padding-bottom: 5px;
  float: right;
}

.total {
  border-top: 1px solid black;
}

.sale-items, .sale-prices {
  background-color: white;
  padding-bottom: 5px;
}

.container{
  margin-top: 50px;
}
