/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 .button {
   width: 90px;
   min-height: 60px;
   padding: 5px;
   margin: 5px;
   color: white;
   display: inline;
   font-size: 13px;
   float: left;
}

 .green {
   background-color: #18A33B
 }

 .green:hover {
   background-color: green;
 }

 .magenta {
   background-color: magenta;
 }

 .magenta:hover {
   background-color: #A318A3;
 }

 .purple {
   background-color: #8C4FC9;
 }

 .purple:hover {
   background-color: #6322A3;
 }

 #hidden_total {
   color: #C0CED1;
 }

/*body {
  background-color: #D9DDDE;
}*/

.price {
  float: right;
}

.total {
  margin-top: 5px;
  border-top: 1px solid black;
}

.sale-items, .sale-prices {
  background-color: #C0CED1;
  padding-bottom: 5px;
  border: 2px solid #9AB1B5;
}

.container {
  margin-top: 50px;
}
