<div class="row">
  <div class="columns small-12">
    <h4>Profits</h4>
    <% sum = 0 %>
    <% @sales.each { |s| sum += s.total } %>
    <p><%= "#{sprintf('$%.2f', sum / 100.00)}"%></p>
  </div>
</div>
